
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}
<h5 style="font-family: 'Roboto', sans-serif; color: #4facfe; text-align: center;">New Patient Registration</h5>
{% endblock page_title %}

{% block main_content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Patient</title>
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
</head>

<body>
    <div class="container">
        <h2>Register Patient</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <a href="{% url 'admin_dashboard' %}">Back to Dashboard</a>
    </div>
</body>
</html>
{% endblock main_content %}